# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE Directories
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node & Package Managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary & Log Files
*.log
*.tmp
*.bak
.cache/
